<p id="notice"><%= notice %></p>

<p>
  <strong>Coming at:</strong>
  <%= @visit.coming_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @visit.user %>
</p>

<p>
  <strong>Exhibition:</strong>
  <%= @visit.exhibition %>
</p>

<%= link_to 'Back', user_path(current_user) %>
