<%= simple_form_for(@exhibition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :opening_at %>
    <%= f.input :closing_at %>
    <%= f.input :capacity %>
    <%= f.association :artist %>
    <% if @place %>
    <%= f.input :place_id, as: :hidden, input_html: { value: @place.id } %>
    <% else %>
    <%= f.input :place %>
    <% end %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
