<%= simple_form_for(@exhibition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :opening_at %>
    <%= f.input :closing_at %>
    <%= f.input :capacity %>
    <%= f.input :artist %>
    <%= f.input :place %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
