<% @exhibitions.each do |exhibition| %>
  <article>
    <%= link_to exhibition do %>
      <div class='background-image' style='background-image: url(<%= exhibition.thumbnail.url(:thumb) %>)'></div>
      <div class='infos'>
        <div class='infos-date'>
          <%= exhibition.opening_at.strftime("%d") %>
          <span><%= exhibition.opening_at.strftime("%b") %></span>
        </div>
        <div class='infos-right'>
          <h3>
            <%= exhibition.name %>
            <span class='cat'>caté</span>
          </h3>
          <span><%= exhibition.place %> - <%= exhibition.capacity %> places</span>
        </div>
      </div>
    <% end %>
  </article>
<% end %>