<h1><%= @user.username %></h1>
<p>
	<%= @user.biography %>
</p>
<img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@user.email) %>" alt="" />
<% if @user.website %>
<p>
	<b>website:</b>
	<%= link_to @user.website, @user.website, :target => "_blank" %>
</p>
<% end %>

<span style="font-style: italic; color: #777">Last connection <%= @user.last_sign_in_at %></span>

<h1>Mes adresses</h1>
<%= render 'places/list' %>
<%= link_to 'Nouvelle adresse', new_place_path %>

<h1>Mes expositions</h1>
<%= render 'exhibitions/list' %>

<h1>Mes inscriptions</h1>
<%= render 'visits/list' %>
