<%= form_for(@expo) do |f| %>
  <% if @expo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expo.errors.count, "error") %> prohibited this expo from being saved:</h2>

      <ul>
      <% @expo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :opening_date %><br>
    <%= f.date_select :opening_date %>
  </div>
  <div class="field">
    <%= f.label :closing_date %><br>
    <%= f.date_select :closing_date %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :surface %><br>
    <%= f.number_field :surface %>
  </div>
  <div class="field">
    <%= f.label :is_handi %><br>
    <%= f.check_box :is_handi %>
  </div>
  <div class="field">
    <%= f.label :address_city %><br>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_cp %><br>
    <%= f.text_field :address_cp %>
  </div>
  <div class="field">
    <%= f.label :address_infos %><br>
    <%= f.text_area :address_infos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
