<p id="notice"><%= notice %></p>

<% @expos.each do |expo| %>
<div class="expo" style="<%= cycle("background: #eee;", "background: #f5f5f5;") %>padding: 1em 2em 2em">
  <h1><%= link_to expo.name, expo %></h1>
  <span style="font-size: 12px;font-style: italic;color: #777">From <%= expo.opening_date %> to <%= expo.closing_date %></span><br>
  <%= expo.surface %> m² — <%= expo.address_city %>, <%= expo.address_cp %>
</div>
<% end %>
<br>

<%= link_to 'New Expo', new_expo_path %>
