<p id="notice"><%= notice %></p>
<p><%= link_to 'Back', root_path %></p>

<h1><%= @expo.name %></h1>
<span>
  Submitted <%= time_ago_in_words(@expo.created_at) %> ago by <%= @expo.user.email %>
</span>

<p>
  <%= @expo.content %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @expo.opening_date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @expo.closing_date %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @expo.capacity %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @expo.surface %> m²
</p>

<p>
  <strong>Disabled access:</strong>
  <%= @expo.is_handi %>
</p>

<p>
  <strong>Place:</strong>
  <%= @expo.address_city %> - <%= @expo.address_cp %>
</p>

<%= link_to 'Edit', edit_expo_path(@expo) %> | <%= link_to 'Delete', @expo, method: :delete, data: { confirm: 'Are you sure?' } %>
