<% @places.each do |place| %>
  <article>
    <%= link_to place do %>
      <div class='background-image' style='background-image: url(<%= place.thumbnail.url(:thumb) %>)'></div>
      <div class='infos'>
        <div class='infos-right'>
          <h3><%= place.name %></h3>
          <span><%= place.city %></span>
        </div>
        <div class='infos-place'>
          <div class='space'>
            <%= place.area %>
            <span>m²</span>
          </div>
        </div>
      </div>
    <% end %>
  </article>
<% end %>