<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  Submitted <%= time_ago_in_words(@place.created_at) %> ago by <%= @place.user.username %> (<%= mail_to @place.user.email %>)
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %> — <%= @place.zipcode %> - <%= @place.city %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
