<!DOCTYPE html>
<html>
<head>
  <title>Texposou</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'topbar' %>

  <div class="container">
   sssssssssss
    <%= yield %>
  </div>
</body>
</html>
