<!DOCTYPE html>
<html>
<head>
  <title>Texposou</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'topbar' %>

  <div class="container">
<<<<<<< HEAD
    <%= render 'layouts/topbar' %>
=======
>>>>>>> a230fb3bf2234e07e93c2f1613b836996000deed
    <%= yield %>
  </div>
</body>
</html>
